<%- include('../partials/header') %>
<div class="d-flex align-items-center flex-column">
     <div class="wrapperNewDrink">
          <div id="innerContent">
               <div id="title">Drink Create Page</div>
               <form id="add-drink" action="/drinks" method="POST">
                    <label> Drink Name</label>
                    <br>
                    <input type="text" name="name" />
                    <br />

                    <label> Describe Your Drink</label>
                    <br />
                    <textarea
                         id="typeDescription"
                         type="text"
                         name="description"
                    ></textarea>
                    <br />
                    <input class="btn" type="submit" value="Go to Ingredients" />
               </form>
          </div>
     </div>
</div>

<%- include('../partials/footer') %>
