body{
  margin-top: 80px;
  background-color: #ccc5b9;
  font-family: 'Acme', sans-serif;
}
h1{
  color: #252422;
}
.navbar {
  background-color: #252422;
  justify-content: space-around;
}
.btn {
  background-color: #fffcf2;
}

.btn:hover {
  background-color: #eb5e28;
  border-color: #090302;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

img {



  
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#ingredientList{
  display: none;
}

.frontPageImg {
  margin: 10px;
  border-radius: 25px;
  float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.contain {
  color: aliceblue;
  text-align: center;
}

.col {
}
.wrapper {
  margin: 30px;
  border-radius: 25px;
  padding: 10px;
  background-color: #403d39;
}

.wrapperShow {
  width: 70%;
  margin: 30px;
  border-radius: 25px;
  padding: 10px;
  background-color: #403d39;
}

#typeDescription {
    width: 400px;
    height:200px;
    font-size:14pt;

}